@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@media screen and (max-width:500px){
    .image-carrou{
        width: 100%;
        height: auto;
        margin:20px;
    }   
    .h2{
        font-size: 20px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
    }
    .section-txt{
        border: solid 1px black;
        margin: 0 20px 0 20px;
        padding: 5px 0 5px 0;
    }
    
}

@media screen and (min-width:500px) and (max-width:1023px){
    .image-carrou{
        width: 100%;
        height: auto;
        margin:50px;
    }   
    .h2{
        font-size: 20px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
    }
    .section-txt{
        border: solid 1px black;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;
    }
}

@media screen and (min-width:1023px) {
    .section-txt{
        border: solid 1px black;
        padding: 10px 0 10px 0;
    }
}