.carousel-item > img { 
    width: 100%; 
  }

  /* .carousel-control-next {
      background-image: url('https://banner2.kisspng.com/20180805/zci/kisspng-pumpkin-pie-computer-icons-clip-art-portable-netwo-pumpkin-icon-5b671c205f7e10.1359751615334840643911.jpg');
    height: 70px;
    padding-top: 50px;
    } */